<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year</p>
            <p> 语言切换 : 
                <select id="localization"> 
                    <option value="zh"> -请选择- </option> 
                    <option value="zh"> 中文 </option> 
                    <option value="en"> English </option> 
                </select>
            </p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
    <script src="~/Public/js/jquery.min.js"></script>
    <script>
        $("#localization").change(function () {
            location.href = $(this).val();
        });
    </script>
</body>
</html>
